.ModalBackground {
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.637);
  height: 100vh;
  width: 100%;
  position: fixed;
}

.ModalWindow {
  background-color: rgb(26, 26, 26);
  max-width: 320px;
  position: absolute;
  padding: 20px;
  border: 2px solid #5c4b8a;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toCenter {
  margin: none;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.disable {
  transition: 0.3s;
  display: none;
}

.PosterDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.MiniPoster {
  margin: 0;
  width: auto;
}

@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active {
  animation: openModal 0.2s ease forwards;
}

span {
  color: #ac8dff;
}

h4 {
  margin: 10px;
  font-size: 20px;
}
